/* BASE
--------------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.1em;
    letter-spacing: 0.08em;
    line-height: 1.3em;
    margin: 0;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1em;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

ol {
  padding: 0;
  padding-left: 1.25em;
}

img {
  max-width: 100%;
}

figure {
  margin: 0;
  margin-bottom: 2em;
}

section {
  margin-bottom: 2em;
}

.centered {
  text-align: center;
}

.underline {
  text-decoration: underline;
}

.clearer {
  float: none !important;
  clear: both;
}

.helvetica {
    font-family: Helvetica, Arial, sans-serif;
    font-size: calc(14px + (21 - 14) * ((100vw - 300px) / (1600 - 300)));
    letter-spacing: 0.08em;
    line-height: 1.3em;
}

.times {
    font-size: 1.1em;
    font-family: 'Times New Roman', Times, serif;
}


/* OVERALL CONTAINERS AND COLUMNS
--------------------------------------------------------- */

.container {
  margin: 28px;
}

.container a,
footer a {
  background: url('../images/moving-underline.gif') repeat-x;
  background-position: 0 100%;
  transition: .1s background ease-out;
  -webkit-transition: .1s background ease-out;
  -moz-transition: .1s background ease-out;
  -o-transition: .1s background ease-out;
}

.container a:hover,
footer a:hover {
  background-position: 0 100%;
}



/* TYPOGRAPHY
--------------------------------------------------------- */

.regular,
.caption, figcaption,
.text .notes,
.text blockquote,
.document,
#footnotes,
.sign-off {
  font-family: "Times New Roman", Times, serif;
  font-size: 19px;
  line-height: 1.2;
}

.large,
.text {
  font-family: "Times New Roman", Times, serif;
  font-size: 28px;
  line-height: 32px;
}

code,
nav,
.library,
.blog-row,
.blog-date,
.metadata,
ul.calendar .title,
footer .source,
#meta-bar,
.project-code,
.projects-start-end,
.sections-index {
  font-family: "Times New Roman", Times, serif;
  font-size: calc(14px + (21 - 14) * ((100vw - 300px) / (1600 - 300)));
  letter-spacing: 0.08em;
  line-height: 1.3em;
  -webkit-font-smoothing: antialiased;
}

a.button {
  background: red;
  border-bottom: 1px solid white;
  /*padding: 16px 20px;*/
  display: inline-block;
  margin: 0.5em 0;
}

a.button:hover {
  /* background: yellow; */
  border-bottom: 1px solid white;
}

.document ul li {
  list-style-type: disc;
  list-style-position: inside;
  text-indent: -1.3em;
  padding-left: 1.25em;
  margin-bottom: 1em;
}

.document ul.projects li,
.document ul.children li {
  margin-bottom: 0;
}

.document ol li {
  padding-left: 0.25em;
  margin-bottom: 1em;
  margin-left: -0.25em;
}

.document blockquote {
  margin-left: 1.25em;
}

/* NAVIGATION
--------------------------------------------------------- */

nav {
  text-align: center;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  border-bottom: 1px solid #000;
  position: relative;
}

nav li {
  display: inline-block;
  list-style-type: none;
  list-style-position: outside;
  margin-right: 12px;
  padding: 22px 3px;
  text-indent: 0;
  background: url('../images/bullet-none.png') no-repeat;
  background-size: 6px 6px;
  background-position:center 24%;
  transition: .1s background ease-out;
  -webkit-transition: .1s background ease-out;
  -moz-transition: .1s background ease-out;
  -o-transition: .1s background ease-out;
}

nav li:hover {
  background: url('../images/bullet-empty.svg') no-repeat;
  background-size: 6px 6px;
  background-position:center 24%;
}

nav li.current,
nav li.current:hover {
  background: url('../images/bullet.svg') no-repeat;
  background-size: 6px 6px;
  background-position:center 24%;
  cursor: pointer;
}

nav .home-link {
  position: absolute;
  left: 16px;
  top: 20px;
  height: 12px;
  width: 12px;
  background: url('../images/home.svg') no-repeat;
  background-size: 12px 12px;
}

nav .info-link {
  position: absolute;
  right: 16px;
  top: 20px;
  height: 12px;
  width: 12px;
  background: url('../images/info.svg') no-repeat;
  background-size: 12px 12px;
}


/* TEXTS DIRECTORY
--------------------------------------------------------- */

.library-row,
.blog-row {
  width: 100%;
  border-top: 1px solid #000;
  padding: 16px 0 16px;
  white-space: nowrap;
  overflow: hidden;
}

a.library-item,
a.blog-post {
  /* color: #000; */
  cursor: pointer;
  display: block;
  position: relative;
  text-indent: 16px;
  padding: 16px 0 16px;
  margin: -16px 0 -16px;
  transition: .1s background ease-out;
  -webkit-transition: .1s background ease-out;
  -moz-transition: .1s background ease-out;
  -o-transition: .1s background ease-out;
}

.library-row .class-item h2 {
  text-transform: uppercase;
}

a.library-item:hover,
a.top-link:hover,
a.blog-post:hover {
  background: yellow;
  cursor: pointer;
  -webkit-animation: pulse 1.2s ease-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.library-item h2,
.blog-post h2 {
  display: inline;
}

.library-item .year,
.blog-post .date {
  position: absolute;
  right: 16px;
  top: 16px;
}

.library-row:first-child,
.blog-row:first-child {
  border-top: 0;
}

.library-row:last-child,
.blog-row:last-child {
  border-bottom: 1px solid #000;
}

.metadata p {
  margin: 0;
}

.metadata .space {
  width: 100%;
  height: 1em;
}

.metadata {
  margin-bottom: 56px;
}

sup.footnote {
  font-size: 19px;
  line-height: 1.2;
}

#footnotes {
  margin-top: 56px;
  max-width: 640px;
}

#footnotes li {
  margin-bottom: 1em;
}

.footnotereverse a,
.footnotereverse a:hover {
  background: none;
}

/* INDIVIDUAL TEXT
--------------------------------------------------------- */

a.top-link {
  display: block;
  position: relative;
  height: 52px;
  border-bottom: 1px solid black;
  transition: .1s background ease-out;
  -webkit-transition: .1s background ease-out;
  -moz-transition: .1s background ease-out;
  -o-transition: .1s background ease-out;
}

figure {
  margin-bottom: 1em;
}

figure.right {
  float: right;
  margin-left: 1em;
}

figure.left {
  float: left;
  margin-right: 1em;
}

figure.small {
  max-width: 250px;
}

figure.medium {
  max-width: 400px;
}

figure.large {
  max-width: 700px;
}

.blog-post h1 {
  display: inline-block;
  margin-top: 0;
}

.text h1,
.text h2,
.text h3,
.text h4,
.text h5,
.text h6 {
  font-weight: bold;
}

.text .notes,
.text blockquote {
  max-width: 640px;
}

.metadata h1 {
  margin: 0;
}

.metadata .selected-image {
  max-width: 175px;
  margin-bottom: 1em;
}


/* INDIVIDUAL DOCUMENT
--------------------------------------------------------- */

.document {
  max-width: 640px;
  margin: 2em auto;
}

.document h2,
.document h3,
.document h4,
.document h5,
.document h6 {
  font-weight: bold;
  margin-top: 2em;
}

.document ul li {
  list-style-type: circle;
  list-style: inside;
}

.document .metadata {
  margin-top: 56px;
}

#meta-bar {
  display: none;
}

#meta-bar .inside {
  padding: 17px 0;
  width: 100%;
  text-align: center;
  background: #BEC6C9;
}

#meta-bar hr {
  margin: 112px 0 0;
}

#meta-bar.bottom {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

#meta-bar .back-to-top {
  display: none;
  padding: 17px;
  position: absolute;
}

.document h2:first-child {
  margin-top: 0;
}

.document hr {
  border: 0;
  border-top: 1px solid #000;
  margin: 84px 0;
}


/* PROJECTS
--------------------------------------------------------- */

/*.document ul.projects {
  margin: 2em 0;
}*/

.document ul.projects li {
  list-style-type: none;
}

.document-side {
  position: absolute;
}


/* CALENDAR
--------------------------------------------------------- */

ul.calendar {
  border-top: 1px solid #000;
  margin-top: 52px;
}

ul.calendar li.calendar-row {
  border-bottom: 1px solid #000;
}

.document ul.calendar li.calendar-row {
  list-style-type: none;
}

ul.calendar .title {
  text-indent: 12px;
  height: 52px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  transition: .1s background ease-out;
  -webkit-transition: .1s background ease-out;
  -moz-transition: .1s background ease-out;
  -o-transition: .1s background ease-out;
}

ul.calendar .title:hover {
  background: #FDEE2F;
}

ul.calendar .body {
  border-top: 1px dashed #000;
  display: none;
  margin-bottom: 52px;
  padding-top: 19px;
}

.projects-start-end {
  position: absolute;
  width: 100px;
  right: -100px;
  top: 16px;
}

.current-week {
  position: absolute;
  width: 80px;
  height: 54px;
  left: -100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

figure.reading {
  margin-bottom: -0.75em;
}

.reading img {
  max-width: 175px;
}

ul.calendar figure {
  margin: 1em 0;
}


/* FREEFORM
--------------------------------------------------------- */

footer {
  margin: 28px;
}

footer .source {
  display: none;
  margin-top: 56px;
}


/* WORKSHOP and SPECIAL HOMEPAGE THINGS
--------------------------------------------------------- */

#naming-workshop {
   width: 60px;
   height: 82px;
   position: fixed;
   left: 33%;
   bottom: 8%;
   z-index: 7;
   border: 1px solid #000;
   -webkit-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px;
   border-radius:         50%  50%  50%  50%  / 60%   60%   40%  40%;
   background: #BEC6C9;
   transition: .5s background ease-out;
  -webkit-transition: .5s background ease-out;
  -moz-transition: .5s background ease-out;
  -o-transition: .5s background ease-out;
}

#naming-workshop:hover {
  background: #fff;
}

#coding-from-life {
  width: 80px;
  height: 80px;
  position: fixed;
  top: 80px;
  right: 25px;
  z-index: 7;
  border: 1px solid #000;
  background: #BEC6C9;
  transition: .5s background ease-out;
  -webkit-transition: .5s background ease-out;
  -moz-transition: .5s background ease-out;
  -o-transition: .5s background ease-out;
}

#coding-from-life:before {
  border-left: 1px solid black;
  height: 80px;
  left: 50%;
  position:absolute;
  content:'';
}

#coding-from-life:after {
  border-top: 1px solid black;
  width: 80px;
  top: 50%;
  position:absolute;
  content:'';
}

#coding-from-life:hover {
  background: #fff;
}

/* SHUFFLE
--------------------------------------------------------- */

a.shuffle,
a.shuffle:hover {
  background: none;
}


/* SECTIONS
--------------------------------------------------------- */

.sections-index {
  position: fixed;
  background: yellow;
  top: 88px;
  left: 20px;
}

.sections-index a,
.sections-index a:hover {
  display: block;
  background: none;
}

.section {
  margin-top: 4em;
}

.paper {
  background: white;
  padding: 60px;
  margin: 1em -60px;
}

header.paper-header {
  font-size: 1em;
  margin-top: -85px;
  margin-bottom: 85px;
  font-style: italic;
}


/* BLOG
--------------------------------------------------------- */

.blog-date {
  float: left;
  width: 200px;
  height: 200px;
  background: url('../images/no-symbol.gif') no-repeat;
  background-size: 100% 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-right: 28px;
  margin-bottom: 28px;
}

.blog-post.text h1 {
  font-weight: bold;
}

/* MEDIA QUERIES
--------------------------------------------------------- */

@media screen and (max-width: 880px) {

  .projects-start-end { display: none; }

}

@media screen and (max-width: 810px) {

  .document-side { display: none; }

}

@media screen and (max-width: 540px) {

  nav {
    display: block;
    height: auto;
    padding: 12px 0;
  }

  nav li {
    display: block;
    width: 100%;
    padding: 4px 0;
    background-position: 96% !important;
  }

  nav li:hover {
    background-position: 96% !important;
  }

  nav li.current {
    background: url('../images/bullet.svg') no-repeat;
    background-size: 6px 6px;
    background-position: 96% !important;
    cursor: pointer;
    margin-top: 2px;
  }

  nav .info-link,
  nav .home-link {
    position: static;
    display: block;
    margin: 8px auto;
  }

  .library-row .year {
    display: none;
  }

  .large,
  .text {
    font-size: 19px;
    line-height: 1.2;
  }

  #meta-bar .back-to-top {
    text-align: center;
    width: 100%;
    padding: 17px 0;
  }

  #meta-bar .inside {
    display: none;
  }

}
